--extra-index-url https://download.pytorch.org/whl/cu121
opencv-python-headless
torch
torchvision
transformers==4.26.1
kornia
torchaudio
python-dotenv
fastapi
uvicorn
python-multipart
supervision
pika
pydantic
einops
pycocotools
psutil
huggingface_hub
